<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <!-- optional styling to this site -->
        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet" />
    </head>
    <body>
      <div>
        <h2>About</h2>
        <p>Hey, you type it and we post it, right?</p>
        
        <p class="links">
          <a href="{@host}/">Home</a>
        </p>
      </div>
    </body>
    <!-- optional enhancement -->
    <script src="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="{@host}/script.js"></script>
</html>
